body {
    background-image: url(ney.jpg)
}
.sasasa{
    color:aquamarine;
}

.sososo {
    color: aqua;
}

.sisisi {
    color: blueviolet;
}

.sususu {
    color:aliceblue;
}

.sesese {
    color: red;
}
<body/>
    